:root {
  --ui: #021c4c;
  --section: 0.5% 29% 1% 29%
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5%;
}

header {
  display: flex;
  background-color: var(--ui);
}

.header-div {
  display: flex;
  width: 50%;
  padding: 1%;
}

.header-main {
  width: 100%;
  font-size: 2.5em;
  font-family: 'Arial';
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}

.nav-div {
  display: flex;
  align-items: center;
  padding: 1%;
  width: 50%;
  justify-content: flex-end;
}

body {
  background-color: #282c34;
  color: antiquewhite;
  height: 100%;
  margin: 0;
}

.nav {
  --bs-nav-link-hover-color: #e9ecef;
}

.nav-tabs .nav-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-link .active {
  margin: 0 1% 0 1%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.nav-link {
  width: 100px;
  display: flex;
  flex-direction: column;
  color: #b7d3ff;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  padding: 2px;
  margin: 0 4% 0 4%;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--section);
  justify-content: center;
}

.main-header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me-img {
  max-width: 100%;
  border-radius: 20px;
}

.main-paragraph {
  margin: 1% 0 0 0;
  text-align: center;
}

footer {
  background-color: var(--ui);
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  padding: 1% 30% 1% 30%;
}

.footer-refs-1 {
  text-align: center;
  flex: 50%;
}

.footer-refs-2 {
  text-align: center;
  flex: 50%;
}

.git {
  max-width: 30%;
}

.in {
  max-width: 20%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
