:root {
  --ui: #021c4c;
  --section: 0.5% 29% 1% 29%
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 8.5%;
}

header {
  display: flex;
  background-color: var(--ui);
}

.header-div {
  display: flex;
  width: 50%;
  padding: 1%;
}

.header-main {
  width: 100%;
  font-size: 2.5em;
  font-family: 'Arial';
  letter-spacing: 0.1rem;
  margin-bottom: 0;
}

.nav-div {
  display: flex;
  align-items: center;
  padding: 1%;
  width: 50%;
  justify-content: flex-end;
}

body {
  background-color: #282c34;
  color: antiquewhite;
  height: 100%;
  margin: 0;
}

.nav {
  --bs-nav-link-hover-color: #e9ecef;
}

.nav-tabs .nav-link {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-link .active {
  margin: 0 1% 0 1%;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  flex: 1 1 auto;
}

.nav-link {
  width: 100px;
  display: flex;
  flex-direction: column;
  color: #b7d3ff;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  padding: 2px;
  margin: 0 4% 0 4%;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--section);
  justify-content: center;
}

.portfolio-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5% 15% 0% 15%;
  justify-content: center;
}

.main-header-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me-img {
  max-width: 100%;
  border-radius: 20px;
}

.main-area {
  margin: 1% 0 0 0;
  text-align: center;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}

.project-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 1.5%;
}

.project-container {
  display: flex;
  flex-direction: column;
  background-color:rgb(35, 35, 35);
  border: 4px solid black;
  width: 49%;
}

.project-left {
  display: block;
  position: relative;
  width: 100%;
}

.project-left:hover .project-link-top {
  opacity: 1.0;
}

.project-left:hover .project-link-bottom {
  opacity: 1.0;
}

.project-left:hover .project-link-center {
  opacity: 1.0;
}

.project-left:hover .project-link-top {
  opacity: 1.0;
}

.project-right:hover .project-link-top {
  opacity: 1.0;
}

.project-right:hover .project-link-bottom {
  opacity: 1.0;
}

.project-right:hover .project-link-center {
  opacity: 1.0;
}

.project-right:hover .project-link-top {
  opacity: 1.0;
}

.project-anchor:hover {
  transition: 0.2s ease;
  color: lightblue;
}

.project-right {
  display: block;
  position: relative;
  width: 100%;
}

.project-img {
  opacity: 1;
  display: block;
  width: 100%;
}

.project-link-top {
  opacity: 0;
  transition: .5s ease;
  background-color: #282c34de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 50%;
}

.project-link-center {
  opacity: 0;
  transition: .5s ease;
  background-color: #282c34de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.project-link-bottom {
  opacity: 0;
  transition: .5s ease;
  background-color: #282c34de;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}

.project-anchor {
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.project-explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
  background-color: rgb(35, 35, 35);
  text-align: center;
  height: 100%;
}

footer {
  background-color: var(--ui);
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  padding: 1% 20% 1% 20%;
}

.footer-refs-1 {
  text-align: center;
  flex: 50%;
}

.footer-refs-2 {
  text-align: center;
  flex: 50%;
}

.git {
  width: 20%;
}

.in {
  width: 10%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
